.button {
  text-align: end;
}

.title_class {
  display: flex;
  padding: 3px;
}

.title_class_Numbers {
  text-align: center;
  flex: 1.5;
}

.title_class_text {
  text-align: center;
  flex: 6.5;
}

.title_class_date {
  text-align: center;
  flex: 2;
}