.ListItem {
  display: flex;
  padding: 3px;
}

.Numbers {
  flex: 1.5;
}

.text {
  flex: 6.5;
}

.date {
  text-align: center;
  flex: 2;
}

.link:link {
  text-decoration: none;
  color: black;
}
.link:visited {
  text-decoration: none;
  color: black;
}
.link:hover {
  text-decoration: none;
  color: black;
}