.button {
  text-align: end;
}

.title_class {
  align-items: center;
  display: flex;
  padding: 3px;
}

.title_class .Numbers {
  text-align: center;
  width: 50px;
}

.title_class .text {
  text-align: center;
  flex: 1;
}

.title_class .date {
  text-align: center;
  width: 65px;
}