img {
    width:1.5rem
}

table, th, td{
    width: 100%;
    border: 1px solid;
    border-collapse: collapse;
}

th {
    padding: 1%
}

th#winery {
    width: 30%;
}
th#wine {
    width: 30%
}
th#rating {
    width: 10%
}
th#location {
    width: 20%
}
th#image {
    width: 10%
}

td {
    padding-inline: 1%;
    height: 4rem;
}

td#winery {
    width: 30%;
}
td#wine {
    width: 30%
}
td#rating {
    width: 10%;
}
td#location {
    width: 20%
}
td#image {
    width: 10%;
    text-align: center;
}
img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
}

#page {
    width: 1rem;
    text-align: center;
}

#before {
    width: 10%;
    text-align: center;
}
#after {
    width: 10%;
    text-align: center;
}